.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.user-img {
    margin-top: -70px;
}

.user-img img {
    height: 150px;
    width: 130px;
}

.main-section {
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content {
    background-color: #D3D3D3;
}

.user-name {
    margin: 10px 0;
}

.user-name h1 {
    font-size: 30px;
    color: #ccd6d7;
}

.form-input button {
    width: 100%;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
}

.btn-success:hover {
    background-color: #27ae60;
    border: 1px solid #27ae60;
}

.link-part {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #c2c2c2;
}

.Office-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.Office-image {
    display: inline-block;
    border: 1px solid #ea3e23;
    width: 2.5rem;
    height: 2.45rem;
    background-image: url(https://gxcuf89792.i.lithium.com/t5/image/serverpage/image-id/1296i7768C2951837E376/image-size/small);
    border-radius: 4px;
    background-size: cover;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.Office-button-text {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ea3e23;
    padding: 0.5rem;
    color: #ea3e23;
    background: white;
    font-size: 0.9rem;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.Office-button-text:hover {
    color: white;
    background: #ea3e23;
    border: 1px solid #ea3e23;
}


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white;
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 5em;
    margin-bottom: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 2px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    top: -0.6em;
    background-color: white;
    width: 30em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 10em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }
}
/*loading page*/
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #9d28a7;
    border-radius: 50%;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}