.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.user-img {
    margin-top: -70px;
}

.user-img img {
    height: 150px;
    width: 130px;
}

.main-section {
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content {
    background-color: #34495e;
    opacity: .95;
}

.user-name {
    margin: 10px 0;
}

.user-name h1 {
    font-size: 30px;
    color: #ccd6d7;
}

.form-input button {
    width: 100%;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
}

.btn-success:hover {
    background-color: #27ae60;
    border: 1px solid #27ae60;
}

.link-part {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #c2c2c2;
}
