.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.user-img {
    margin-top: -70px;
}

.user-img img {
    height: 150px;
    width: 130px;
}

.main-section {
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content {
    background-color: #34495e;
    opacity: .95;
}

.user-name {
    margin: 10px 0;
}

.user-name h1 {
    font-size: 30px;
    color: #ccd6d7;
}

.form-input button {
    width: 100%;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
}

.btn-success:hover {
    background-color: #27ae60;
    border: 1px solid #27ae60;
}

.link-part {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #c2c2c2;
}

.Office-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.Office-image {
    display: inline-block;
    border: 1px solid #ea3e23;
    width: 2.5rem;
    height: 2.45rem;
    background-image: url(https://gxcuf89792.i.lithium.com/t5/image/serverpage/image-id/1296i7768C2951837E376/image-size/small);
    border-radius: 4px;
    background-size: cover;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.Office-button-text {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ea3e23;
    padding: 0.5rem;
    color: #ea3e23;
    background: white;
    font-size: 0.9rem;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.Office-button-text:hover {
    color: white;
    background: #ea3e23;
    border: 1px solid #ea3e23;
}